html, 
body {
    background-attachment: fixed;
    background-color: lightgray;
    font-family: 'Trebuchet MS', sans-serif;
    box-sizing: content-box;
    list-style-type: none;
    overflow: scroll;
    overflow-x: hidden;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
width: 0px;  
background: transparent;  
}

::-webkit-scrollbar-thumb {
background: #FF0000;
}

.header-web {
    background-color: rgb(0, 0, 0);
    bottom: 560px;
    display: inline;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    max-height: 130px;
    position: fixed;
}

.nav li{
    display: inline;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    padding-right: 60px;
    top: 25px;
    position: relative;
}

#HomePage {
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

#HomePage:hover {
    color: rgb(149, 31, 228);
}

#AboutPage {
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

#AboutPage:hover {
    color: rgb(149, 31, 228);
}

#ShopPage {
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

#ShopPage:hover {
    color: rgb(149, 31, 228);
}

#LoginPage {
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

#LoginPage:hover {
    color: rgb(149, 31, 228);
}

/* block-content */

.main-content {
    align-items: center;
    display: flex;
    min-width: 300px;
    justify-content: center;
    min-height: 500px;
    height: 0% auto;
}

.block-top {
    padding-top: 100px;
    position: relative;
}

.block-content {
    background-color: #fff;
    width: 1250px;
    height: 750px;
}

.title-block {
    color: rgb(105, 29, 156);
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    padding-top: 25px;
    margin: 0;
}